/* Entries */

StEntry,
.search-entry {
	border-radius: 13px;
	padding: 8px;
	transition-duration: 100ms;
	border: 1px solid BORDER-SHADOW;
	color: @subtext1;
	selection-background-color: @accent-color;
	selected-color: @text;
}

StEntry {
	background-color: @surface0;
}

.search-entry {
	background-color: @mantle;

}

/* icon in entry */
StEntry StLabel {
	color: @text;
}

/* change icon color if entry not selected */
StEntry StLabel:insensitive {
	color: @subtext1;
}

StEntry:hover,
StEntry:focus,
StEntry:active {
	border: 1px solid @subtext0;
	background-color: @surface0;
	box-shadow: none !important;
}

StEntry:focus {
	color: @text;
}