/* OSD */

.switcher-list, /* alt + tab */
.resize-popup, /* i dunno what is that :( */
.workspace-switcher, /* ctrl + alt + arr_left/arr_right  */
.osd-window /* volume/brightness/.. switcher */ {
	color: @text;
	background-color: @base;
	border-radius: 20px;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.07);
}

/* alt + tab */
.switcher-list { border-radius: 24px; }

/* running apps in switcher list */
.switcher-list .item-box {
	border-radius: 20px;
	color: @text;
	background-color: transparent;
}

.switcher-list .item-box:hover,
.switcher-list .item-box:focus,
.switcher-list .item-box:selected,
.switcher-list .item-box:outlined {
	background-color: @surface0;
}


/* arrow if app has multiple windows */
.switcher-arrow {
  color: @subtext0;
  border-color: transparent;
}

.switcher-arrow:highlighted {
	color: @subtext1;
}


/* ctrl + alt + arr_left/arr_right */
.ws-switcher-indicator {
	background-color: @subtext1;
	border-radius: 99px;
	padding: 2.5px;
	margin: 7.5px 5px;
}

.ws-switcher-indicator:active {
	background-color: @text;
	padding: 5px 20px;
	margin: 5px;
}


/* Modal dialog */
.modal-dialog {
	border-radius: 20px;
	background-color: @base;
	border: none;
	color: @text;
}


/* user avatar */
.user-icon {
	border-radius: 999px;
	color: @text;
	background-color: @surface0;
}

.user-icon.user-avatar {
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
}


/* password entry */
.prompt-dialog-password-entry {
	background-color: @mantle;
}


/* button in modals */
.modal-dialog-linked-button,
.notification-button,
.hotplug-notification-item {
	padding: 10px 0 !important;
	border-radius: 12px !important;
	background-color: @surface0;
	color: @text;
	animation-duration: 100ms;
}


/* if first button: margin-right: 12px/2 */
.modal-dialog-linked-button:ltr:first-child,
.notification-button:ltr:first-child,
.hotplug-notification-item:ltr:first-child,
.modal-dialog-linked-button:rtl:last-child,
.notification-button:rtl:last-child,
.hotplug-notification-item:rtl:last-child {
	margin: 0 6px 12px 12px !important;
}

/* if last button: margin-left: 12px/2 */
.modal-dialog-linked-button:ltr:last-child,
.notification-button:ltr:last-child,
.hotplug-notification-item:ltr:last-child,
.modal-dialog-linked-button:rtl:first-child,
.notification-button:rtl:first-child,
.hotplug-notification-item:rtl:first-child {
	margin: 0 12px 12px 6px !important;
}

/* if only button: normal margin */
.modal-dialog-linked-button:first-child:last-child,
.notification-button:first-child:last-child,
.hotplug-notification-item:first-child:last-child {
	margin: 0 12px 12px 12px !important;
}

/* else: margin-right/left: 12px/2 */
.modal-dialog-linked-button,
.notification-button,
.hotplug-notification-item {
	margin: 0 6px 12px 6px !important;
}


.modal-dialog-linked-button:hover,
.modal-dialog-linked-button:focus,
.notification-button:hover,
.notification-button:focus {
	background: @surface1;
	color: @text;
}

.modal-dialog-linked-button:last-child {
	background-color: @accent-color;
	color: @text;
}

.modal-dialog-linked-button:last-child:hover,
.modal-dialog-linked-button:last-child:focus {
	background-color: @accent-color-hover;
}

.modal-dialog-linked-button:focus,
.hotplug-notification-item:focus,
.notification-button:focus {
	animation-duration: 100ms;
	box-shadow: inset 0 0 0 1px @subtext0 !important;
}

.modal-dialog-linked-button:focus:hover,
.hotplug-notification-item:focus:hover,
.notification-button:focus:hover,
.modal-dialog-linked-button:focus:active,
.hotplug-notification-item:focus:active,
.notification-button:focus:active {
	box-shadow: inset 0 0 0 1px @subtext1 !important;
}

.modal-dialog .modal-dialog-linked-button:insensitive,
.hotplug-notification-item:insensitive,
.notification-banner .notification-button:insensitive {
	color: @subtext1;
	background-color: @surface1;
}